@model Models.Product
@{
    ViewData["Title"] = "Thêm Sản Phẩm";
}
<style>
    .preview {
        max-width: 100%;
        margin-bottom: 1em;
    }
</style>
<div class="justify-content-center row" style="margin: 0">
    <div class="col col-6">
        <form asp-action="CreateProduct" enctype="multipart/form-data">
            <h4>Thêm Sản Phẩm</h4>
            <p class="alert-info">@ViewBag.mess</p>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div style="margin-bottom: 4em;" class="form-group">
                <label asp-for="CategoryId" style="margin: 10px 0 0 20px" class="control-label"></label>
                <select asp-for="CategoryId" asp-items="@ViewBag.CategoryId" class="form-control" ></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecentPrice" class="control-label">Giá Sản Phẩm (đ)</label>
                <input asp-for="RecentPrice" class="form-control" />
                <span asp-validation-for="RecentPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="ThumbnailFile" class="control-label"></label>
                <input id="ThumbnailFile" type="file" name="ThumbnailFile" class="form-control" accept="image/*" onchange="previewImage()" required/>
                <div class="preview">
                    <img id="thumbnail-preview">
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    function previewImage() {
        var preview = document.querySelector('#thumbnail-preview');
        var file = document.querySelector('input[type=file]').files[0];
        var reader = new FileReader();

        reader.addEventListener("load", function () {
            preview.src = reader.result;
        }, false);

        if (file) {
            reader.readAsDataURL(file);
        }
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
