@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    form {
        margin: 0 auto;
        width: 400px;
        padding: 1em;
        border: 1px solid #CCC;
        border-radius: 1em;
    }

    fieldset {
        border: none;
        padding: 0;
        margin: 0;
    }

    label {
        display: block;
        margin-bottom: 0.5em;
    }

    input[type="text"],
    textarea {
        width: 100%;
        padding: 0.5em;
        border: 1px solid #CCC;
        border-radius: 0.5em;
        margin-bottom: 1em;
    }

    /*.custom-file-input {
        position: relative;
        display: inline-block;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 4px 8px;
        overflow: hidden;
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
        cursor: pointer;
    }

        .custom-file-input input[type=file] {
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0;
            cursor: pointer;
        }

        .custom-file-input:hover::before {
            background-color: #ddd;
        }
        .custom-file-input::before {
            content: "Choose File";
            display: inline-block;
            background-color: #eee;
            border-radius: 3px;
            padding: 4px 8px;
            cursor: pointer;
        }
*/
    select {
        margin-bottom: 1em;
    }

    input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 0.5em 1em;
        border: none;
        border-radius: 0.5em;
        cursor: pointer;
    }

        input[type="submit"]:hover {
            background-color: #3e8e41;
        }

    .preview {
        max-width: 100%;
        margin-bottom: 1em;
    }
</style>
<div class="w-100 my-5">
    <form enctype="multipart/form-data" method="POST">
        <legend>Add new product</legend>
        
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description"></textarea>
        </div>

        <div class="form-group">
            <label for="price">Price:</label>
            <input type="text" id="price" name="price" required>
        </div>

        <div class="form-group">
            <label for="thumbnail" class="custom-file-input">Thumnail</label>
            <input type="file" id="thumbnail" name="thumbnail" accept="image/*" onchange="previewImage()" required>
            <div class="preview">
                <img id="thumbnail-preview">
            </div>
        </div>
        <div class="form-group">
            <label for="amount">Amount:</label>
            <input type="text" id="amount" name="amount" required>
        </div>
        <div class="form-group">
            <label for="category">Category:</label>
            <select id="category" name="category">
                <option value="1">Danh mục 1</option>
                <option value="2">Danh mục 2</option>
                <option value="3">Danh mục 3</option>
            </select>
        </div>
        <br/>
        <br />
        <input type="submit" value="Add">
    </form>
</div>
<script>
    function previewImage() {
        var fileInput = document.getElementById("thumbnail");
        var preview = document.getElementById("thumbnail-preview");
        if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                preview.setAttribute("src", e.target.result);
                preview.style.width = "100%";
                preview.style.display = "block";
            }

            reader.readAsDataURL(fileInput.files[0]);
        }
    }
</script>