@model Models.Product
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Cập Nhật Sản Phẩm";
}
<style>
    label {
        display: block;
        margin-bottom: 0.5em;
    }
    .preview {
        max-width: 100%;
        margin-bottom: 1em;
    }
</style>

<div class="justify-content-center row" style="margin: 0; margin-top: 140px">
    <form asp-action="UpdateProduct" method="post" enctype="multipart/form-data" class="col col-10" style="margin: 0">
        <h4>Cập Nhật Sản Phẩm</h4>
        <p class="alert-info">@ViewBag.mess</p>
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Id" type="hidden" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-bottom: 4em;">
                    <label asp-for="CategoryId" class="control-label">Danh Mục Sản Phẩm</label>
                    <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.CategoryId" ></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" id="input-description" rows="6" class="form-control" ></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RecentPrice" class="control-label"></label>
                    <input asp-for="RecentPrice" class="form-control" />
                    <span asp-validation-for="RecentPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button id="updateInfoProduct" class="btn btn-primary">Cập nhật</button>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="ThumbnailFile" class="control-label"></label>
                    <input id="ThumbnailFile" type="file" name="ThumbnailFile" class="form-control" accept="image/*" onchange="previewImage()" required/>
                    <div class="preview">
                        <img id="thumbnail-preview">
                    </div>
                    <input type="submit" value="Cập nhật thông tin bao gồm ảnh" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function previewImage() {
        var preview = document.querySelector('#thumbnail-preview');
        var file = document.querySelector('input[type=file]').files[0];
        var reader = new FileReader();

        reader.addEventListener("load", function () {
            preview.src = reader.result;
        }, false);

        if (file) {
            reader.readAsDataURL(file);
        }
    }

    $(document).ready(function() {
        var titleInput = $("input[name='Title']");
        var categoryIdInput = $("select[name='CategoryId']");
        var descriptionInput = $("#input-description");
        var recentPriceInput = $("input[name='RecentPrice']");
        var amountInput = $("input[name='Amount']");

        //update info product
        $('#updateInfoProduct').on('click', function(e) {
            e.preventDefault();
            var data = {
                Id: $("input[name='Id']").val(),
                Title: titleInput.val(),
                CategoryId: categoryIdInput.val(),
                Description: descriptionInput.val(),
                RecentPrice: recentPriceInput.val(),
                Amount: amountInput.val()
            };

            ajaxRequest(urlUpdateProduct + data.Id, 'PUT', JSON.stringify(data), function(xhr) {
                    xhr.setRequestHeader('Authorization', token);
                }, function(response) {
                    toastr.success(messSuccess);
                }, function(jqXHR, textStatus, errorThrown) {
                    toastr.error(messError);
                    var error = JSON.parse(jqXHR.responseText);
                    toastr.error(error.error);
                });
        });
    });
</script>