@model Models.Product
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Cập Nhật Sản Phẩm";
}
<style>
    label {
        display: block;
        margin-bottom: 0.5em;
    }
</style>
<div class="row justify-content-center">
    <h3>Cập Nhật Sản Phẩm</h3>
</div>
<form asp-action="UpdateProduct" method="post">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 4em;">
                <label asp-for="CategoryId" class="control-label">Danh Mục Sản Phẩm</label>
                <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.CategoryId" ></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecentPrice" class="control-label"></label>
                <input asp-for="RecentPrice" class="form-control" />
                <span asp-validation-for="RecentPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button id="updateInfoProduct" class="btn btn-primary">Cập nhật</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="ThumbnailFile" class="control-label"></label>
                <input id="ThumbnailFile" type="file" name="ThumbnailFile" class="form-control" accept="image/*" onchange="previewImage()" required/>
                <div class="preview">
                    <img id="thumbnail-preview">
                </div>
                <input type="submit" value="Cập nhật toàn bộ bao gồm ảnh" class="btn btn-primary"/>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function previewImage() {
        var preview = document.querySelector('#thumbnail-preview');
        var file = document.querySelector('input[type=file]').files[0];
        var reader = new FileReader();

        reader.addEventListener("load", function () {
            preview.src = reader.result;
        }, false);

        if (file) {
            reader.readAsDataURL(file);
        }
    }

    $(document).ready(function() {
        var titleInput = $("input[name='Title']");
        var categoryIdInput = $("select[name='CategoryId']");
        var descriptionInput = $("input[name='Description']");
        var recentPriceInput = $("input[name='RecentPrice']");
        var amountInput = $("input[name='Amount']");

        $('#updateInfoProduct').on('click', function(e) {
            //e.preventDefault();
            var data = {
                Id: $("input[name='Id']").val(),
                Title: titleInput.val(),
                CategoryId: categoryIdInput.val(),
                Description: descriptionInput.val(),
                RecentPrice: recentPriceInput.val(),
                Amount: amountInput.val()
            };
            $.ajax({
                type: "PUT",
                url: urlUpdateProduct + data.Id,
                data: JSON.stringify(data),
                contentType: "application/json",
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('Authorization', token);
                },
                success: function(response) {
                    toastr.success(messSuccess);
                },
                error: function(xhr, textStatus, errorThrown) {
                    toastr.error(messError);
                }
            });
        });
    });
</script>