@{
    ViewData["Title"] = "Liên Lạc";
}
<!-- Map Begin -->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.0345058453745!2d105.72955411458207!3d10.014008492841587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0882139720a77%3A0x3916a227d0b95a64!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBGUFQgQ-G6p24gVGjGoQ!5e0!3m2!1svi!2s!4v1678536923006!5m2!1svi!2s" height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
<!-- Map End -->

<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__text">
                    <div class="section-title">
                        <span>Thông Tin</span>
                        <h2>Liên Lạc</h2>
                        <p>Nếu bạn có bất kỳ thắc mắc nào hoặc cần hỗ trợ từ chúng tôi, 
                            hãy liên hệ với shop thông qua mục liên lạc ở đây. 
                            Chúng tôi sẽ cố gắng hồi đáp sớm nhất có thể.</p>
                    </div>
                    <ul>
                        <li>
                            <h4>Địa Chỉ</h4>
                            <p>Trường Đại học FPT Cần Thơ, Nguyễn Văn Cừ nối dài, Long Tuyền, Ninh Kiều, Cần Thơ<br />84+ 788751149</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="contact__form">
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" placeholder="Tên...">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" placeholder="Email...">
                            </div>
                            <div class="col-lg-12">
                                <textarea placeholder="Thông điệp"></textarea>
                                <button type="submit" class="site-btn">Gửi Thông Điệp</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->