@model Models.ViewModel.UserLogin
@{
    ViewData["Title"] = "Đăng Nhập";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<style>
    .container {
    background-color: rgba(255, 255, 255, 0.5);
}
</style>
<!-- Sing in  Form -->
<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="/images/đăng nhập.jpg" alt="sing up image"></figure>
                <a asp-action="Register" asp-controller="Account" class="signup-image-link">Đăng ký tài khoản</a>
                <a asp-action="Index" asp-controller="Home" class="signup-image-link">Về trang chủ</a>
            </div>
            <div class="signin-form">
                <h2 class="form-title">Dang Nhap</h2>
                <form asp-action="Login" method="POST" class="register-form" id="login-form">
                    <div class="form-group">
                        <label asp-for="Email"  class="form-control"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input asp-for="Email" class="form-control" placeholder="Email của bạn..."/>
                        <span asp-validation-for="Email" style="color: red" class="alert-danger form-control"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"><i class="zmdi zmdi-lock"></i></label>
                        <input asp-for="Password" type="password" placeholder="Mật khẩu..."/>
                        <span asp-validation-for="Password" style="color: red" class="alert-danger form-control"></span>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Đăng nhập"/>
                    </div>
                </form>
                @*<div class="social-login">
                    <span class="social-label">Hoặc đăng nhậ</span>
                    <ul class="socials">
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                    </ul>
                </div>*@
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
